@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script&family=Poppins:wght@400;700&family=Signika+Negative&display=swap');
/* 
font-family: 'Courgette', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Signika Negative', sans-serif; 
*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(./img/bg1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: justify;
}
