@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script&family=Poppins:wght@400;700&family=Signika+Negative&display=swap');
/* 
font-family: 'Courgette', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Signika Negative', sans-serif; 
*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-image: url(./img/bg1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: justify;
}

#head{
    background: radial-gradient(circle, rgb(153, 82, 245) 0%, rgb(40, 115, 207) 100%);
    opacity: 80%;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation{
    padding: 15px;
}

.navigation a{
    font-size: 0.7em;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    padding: 3.5px;
    display: inline-block;
}

.navigation a:hover{
    background-color: rgba(145, 52, 231, 0.582);
    transform: scale(1.1);
    transition: .2s;
}

h1{
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    padding: 0px 20px;
}

h1:hover{
    transition: 0.2s;
    filter: blur(3px);
}

h2{
    font-family: 'Signika Negative', sans-serif;
    font-size: 3em;
    text-align: center;
    color: white;
    transition: 2s;
    padding-bottom: 50px;
}

h3{
    font-family: 'Signika Negative', sans-serif;
    color: #ff9;
    font-size: 1.3em;
}

p{
    font-size: 1.3em;
    font-family: 'Signika Negative', sans-serif;
    color: white;
}

#main p{
    padding: 18px;
}

.first_section{
    background-color: rgba(0,0,0,0.3);
    padding: 50px;
}

.second_section{
    background-color: rgba(0,0,0,0.5);
    padding: 50px;
}

.first_section p, .second_section p{
    width: 100%;
}

.btn-video, .btn-musica{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.btn-musica a, .btn-video a{
    display: inline-block;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); 
    transition: 0.5s;
    font-family: 'Signika Negative', sans-serif;
}

.btn-musica a:hover, .btn-video a:hover{
    background-color: rgba(155, 48, 255, 0.493);
    transform: scale(1.1);
}

.testimony_one, .testimony_two{
    padding: 80px;
    margin: 7px;
    background-color: rgba(67, 66, 68, 0.466);
    border-radius: 20px;
    border: 1px solid rgb(0,0,0);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
    transition: 2s;
}

#foot{
    color: rgb(204, 197, 197);
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
    font-size: 1.1em;
}

.foot-h4{
    font-family: 'Signika Negative', sans-serif;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.rrss-div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
}

.instagram, .email, .twitter{
    padding: 10px;
}

.email img{
    border-radius: 5px;
}

.twitter img{
    border-radius: 8px;
} 


.copyright p{
    text-align: center;
    padding-bottom: 20px;
}


/* about */


.first_section-about{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
}

.second_section-about{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 50px;
}

.sec_one-div, .sec_two-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec_one-div p, .sec_two-div p{
    padding: 50px 18px 0px;
}

.sec_one-div img, .sec_two-div img{
    width: 250px;
    border-radius: 50%;
}


/* services */


.service_one{
    background-color: rgba(0,0,0,0.3);
}

.service_two{
    background-color: rgba(0,0,0,0.5);
}

.service_three{
    background-color: rgba(0,0,0,0.3);
}

.service_one, .service_two, .service_three{
    padding: 50px;
}

.service_one-div, .service_two-div, .service_three-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service_one-div p, .service_three-div p{
    padding: 50px 18px 0px;
}

.service_two-div p{
    padding: 0px 18px 50px;
}

.service_one-div img, .service_two-div img, .service_three-div img{
    border-radius: 10px;
    width: 250px;
}


/* interest */


.section_one-interest{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
}

.secone_interest-img{
    display: flex;
    justify-content: center;  
}

.secone_interest-img img{
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 30px 20px 30px rgba(0, 0, 0, 0.7);
    width: 250px;
}

.section_one-interest p, .section_two-interest p{
    padding: 50px 18px 0px;
}

.section_two-interest{
    background-color: rgba(0, 0, 0, 0.3);
}

.sectwo_interest-div{
    background-image: radial-gradient(
        rgba(158,67,223,0.4),
        rgba(10, 10, 10, 0.5)
    ) ,url(./img/starfull_sky1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 50px;
    
}

.sectwo_interest-img{
    display: flex;
    justify-content: center;
}

.sectwo_interest-img img{
    border-radius: 50%;
    border: 2px solid #9e43df;
    box-shadow:0px 0px 80px rgba(158,67,223,1);
    width: 250px;
}

.sectwo_interest-img img:hover{
    transform: scale(1.02);
    transition: 0.3s linear;
}


/* contact */


.contact_form{
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.contact_form h2{
    font-family: 'Courgette', cursive;
    padding-bottom: 0px;
    font-size: 3.2em;
}

.contact_form h3{
    text-align: center;
    padding-bottom: 50px;
    font-size: 1.3em;
}

form{
    border: 3px solid #8724ce;
	width: 300px; 
    height: auto;
    margin: 80px auto;
	border-radius: 10px;  
    padding: 50px 40px; 
    background-color: rgba(176, 78, 233, 0.2);
    color: white;
}

input{
	background-color: #fbfbfb; 
	width: 215px; 
	height: 40px; 
    border: 1px solid #ab4493;
	border-radius: 5px;  
	margin-top: 10px;  
	padding-left: 10px;
    margin-bottom: 20px; 
    font-family: 'Poppins', sans-serif;
}

textarea{
    background-color: #fbfbfb; 
	width: 215px; 
	height: 150px; 
	border-radius: 5px;
    border: 1px solid #ab4493;  
	margin-top: 10px;  
	padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
    font-family: 'Poppins', sans-serif;
}

label{
    display: block; 
	float: center; 	
    font-family: 'Poppins', sans-serif;
}

button{
	height: 45px; 
	padding-left: 5px;
	padding-right: 5px; 	
	margin-bottom: 20px; 
	margin-top: 10px; 	
	background-color: #d660bb; 
    border: 0.5px solid #d660bb;
	border-radius: 10px;	
	width: 215px;   
    cursor: pointer;
}

button:hover{
    background-color: #c451a9;
    transition: 0.2s;
    transform: scale(1.05);
}


button p{
	color: #fff; 
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

span{
	color: yellow; 
}

.aviso{
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
}

form input:focus{
	outline:0;
	border: 1px solid #97d848;
}

form textarea:focus{
	outline:0;
	border: 1px solid #97d848;
}

.contact_others{
    background-color: rgba(0, 0, 0, 0.3);
}

.contact_others h2{
    font-family: 'Courgette', cursive;
    font-size: 3.2em;
    padding: 50px;
}

.contact_others-iframe{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    border-radius: 10px;
}

.contact_others-iframe iframe{
    border-radius: 10px;
}

.contact_others-p{
    text-align: center;
    font-size: 2em;
}

.contact_others-div{
    padding: 50px;
    padding-bottom: 50px;
}

.contact_others-div h3{
    text-align: center;
    font-size: 2em;
    padding: 50px;
}

.contact_others-div p{
    text-align: center;
    font-size: 1.5em;
}


/*  @media  */


@media (width >= 500px) {
    .navigation a{
        font-size: 0.8em;
    }

    .sectwo_interest-img img{
        width: 300px;
    }
}

@media (width >= 600px) {
    .navigation a{
        font-size: 0.9em;
    }

    .sectwo_interest-img img{
        width: 350px;
    }
}


@media (width >= 768px) {

    #head{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .navigation{
        padding-right: 25px;
    }
    
    .navigation a{
        border-radius: 20px;
        font-family: 'Poppins', sans-serif;
        padding: 7px;
        font-size: 1em;
        display: inline-block;
    }

    .navigation a:hover{
        transform: scale(1.1);
    }

    h1{
        font-size: 4em;
        padding-left: 50px;
        padding-right: 50px;
        border-radius: 50px;
    }
    
    h2{
        font-size: 4em;
    }
    
    h3{
        font-size: 1.3em;
    }

    .first_section, .second_section{
        padding: 100px;
    }

    .btn-video, .btn-musica{
        padding-top: 50px;
    }
    
    .btn-musica a, .btn-video a{
        font-size: 2em;
        padding: 11px 22px;
        border-radius: 25px;
    }

    .testimony{
        display: flex;
    }
    
    .testimony_one, .testimony_two{
        padding: 80px;
        margin: 7px;
        background-color: rgba(67, 66, 68, 0.466);
        border-radius: 20px;
        width: 50%;
        border: 1px solid rgb(0,0,0);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
        transition: 2s;
    }

    #foot{
        display: flex;
        padding: 0px;
    }

    .foot-h4{
        padding-top: 20px;
        font-size: 2rem;
        display: flex;
        justify-content: center;
    }

    .rrss, .copyright{
        width: 50%;
    }

    .rrss-div{
        display: flex;
        justify-content: space-evenly;
        padding: 80px;
    }

    .instagram, .email{
        padding: 10px;
    }

    .twitter img{
        border-radius: 16px;
        padding: 10px;
    } 


    .copyright p{
        text-align: right;
        padding: 130px 100px;
    }


    /*  about  */


    .first_section-about, .second_section-about{
        padding: 100px;
    }
    
    .sec_one-div img, .sec_two-div img{
        width: 350px;
        border-radius: 50%;
    }
    

    /* services */


    .service_one, .service_two, .service_three{
        padding: 100px;
    }
    
    .service_one h2, .service_two h2, .service_three h2{
        padding-bottom: 50px;
    }
    
    .service_one-div p, .service_three-div p{
        padding: 50px 50px 0px;
    }

    .service_two-div p{
        padding: 0px 50px 50px;
    }
    
    .service_one-div img, .service_two-div img, .service_three-div img{
        border-radius: 10px;
        width: 350px;
    }

    
    /* interest */


    .section_one-interest{
        padding: 100px 0px;
    }

    .secone_interest-img{
        padding-top: 30px;
    }
    
    .secone_interest-img img{
        width: 350px;
    }
    
    .section_one-interest p{
        padding: 100px;
    }
    
    .secone_interest-div p{
        padding: 100px 200px 50px 200px;
    }
    
    .section_two-interest{
        padding: 100px 0px;
        background-size: 100% 100%;
    }
    
    .section_two-interest p{
        padding: 100px 200px 50px 200px;
    }

    .sectwo_interest-img{
        padding-top: 30px;
    }
    
    .sectwo_interest-img img{
        width: 400px;
    }

    /* contact */

    .contact_form{
        padding: 100px 100px 50px 100px;
    }
    
    .contact_form h2{
        font-size: 4.1em;
    }
    
    .contact_form h3{
        font-size: 2em;
    }
    
    form{
        width: 500px; 
        padding: 50px;
    }
    
    input{
        width: 400px; 
    }
    
    textarea{ 
        width: 400px; 
    }
    
    button{	
        width: 400px;   
    }
    
    .contact_others h2{
        font-size: 4.1em;
        padding: 100px;
    }
    
    .contact_others-div{
        padding-bottom: 100px;
    }
    

}


@media (width >= 1200px) {

    .navigation a{
        font-size: 1.2em;
        padding: 12px;
        display: inline-block;
    }

    .navigation a:hover{
        transform: scale(1.1);
    }

    .first_section, .second_section{
        padding: 100px 200px;
    }

    .btn-musica a, .btn-video a{
        padding: 12px 25px;
        border-radius: 25px;
    }

    .btn-musica a:hover, .btn-video a:hover{
        transform: scale(1.1);
    }


    /*  about  */


    .sec_one-div, .sec_two-div{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .sec_one-div p, .sec_two-div p{
        padding: 50px 50px 50px 150px ;
    }

    .sec_one-div img, .sec_two-div img{
        width: 50vh;
        border-radius: 50%;
    }

    
    /* services */


    .service_one-div, .service_two-div, .service_three-div{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .service_one-div img, .service_two-div img, .service_three-div img{
        border-radius: 10px;
        width: 450px;
    }

    .service_one-div p, .service_three-div p{
        padding: 50px 0px 50px 100px ;
    }

    .service_two-div p{
        padding: 50px 100px 50px 0px;
    }


    /* interest */


    .sectwo_interest-div{
        max-width: 1400px;
        margin: auto;
        padding: 200px 0px;
        border-radius: 40px;
    }

    .secone_interest-img img{
        width: 450px;
    }

    .sectwo_interest-img img{
        width: 450px;
    }


    /* contact */


    .contact_others-iframe iframe{
        width: 450px;
        height: 450px;
    }

}

